// Mobile
.container {
  display: flex;
  flex-direction: column;
}

// Desktop
@media (min-width: 1281px) {
  .container {
    flex-direction: row;

    & > section:first-of-type {
      flex: 55;
      margin-right: 14px;
    }

    & > section:last-of-type {
      flex: 45;
      margin-left: 14px;
    }
  }
}
