// Mobile
.education {
  display: flex;
  flex-direction: column;

  .degrees {
    display: flex;
    flex-direction: column;
    height: 100%;

    .yearGroup {
      display: flex;
      flex-flow: column;
      height: 100%;
      & > div {
        flex: 0 1 auto;
      }

      .line {
        flex: 1 1 auto;
        min-height: 156px;
        width: 0px;
        border-right: 4px solid var(--color-text);
        margin-left: 78px;

        &.dotted {
          border: none;
          border-right: 4px dotted var(--color-text);
        }
      }
    }
  }

  .title {
    font-size: 5.5rem;
    font-weight: bold;
    color: var(--color-text);
    text-align: center;
    margin-bottom: 47px;
    margin-top: 47px;
    min-height: 14.63rem;
  }
}

// Laptop
@media (min-width: 769px) {
}
