:root {
  --color-bg: #ebebe8;
  --color-bg-transparent: rgba(235, 235, 232, 0.9);
  --color-text: #191919;
  --color-border: rgba(25, 25, 25, 0.4);
  --color-info: #3366ff;
  --color-success: #57bc98;
  --color-warning: #ffb020;
  --color-error: #d14343;

  --primary-color: #ebebe8;
  --secondary-color: #191919;
  --accent-color: #f8cd5f;
  --light-accent-color: #fad77e;
}
