.button {
  text-transform: uppercase;
  border: 1px solid black;
  border-radius: 32px;
  padding: 12px 32px 10px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;

  &.small {
    padding: 4.5px 32px;
  }

  &:hover {
    cursor: pointer;
  }
}
